./logs/*
./models/*
./dataset/*
./dataset/refinement/*
*.png
*.0
*.pth
*.pyc
*.pyc
*.pyc
multiresunet/__pycache__/__init__.cpython-38.pyc
multiresunet/__pycache__/correction_dataset.cpython-38.pyc
multiresunet/__pycache__/losses.cpython-38.pyc
multiresunet/__pycache__/model.cpython-38.pyc
unet/__pycache__/correction_dataset.cpython-38.pyc
unet/__pycache__/losses.cpython-38.pyc
unet/model/__pycache__/__init__.cpython-38.pyc
unet/model/__pycache__/unet.cpython-38.pyc
unet/model/__pycache__/unet_parts.cpython-38.pyc
unet/utils/__pycache__/progress_bar.cpython-38.pyc
utils/__pycache__/progress_bar.cpython-38.pyc
